<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | Basket</title>
</head>
<body>
  <h1>{{ .Title }}</h1>
  <p>Description: <span>{{ .Description }}</span></p>
  <p>Status: <span id="status">{{ if .Active }}open{{ else }} closed {{ end }}</span></p>
  {{ if .Active }}
  <div id="timediv">
    <p>Remaining time: <span id="time"></span></p>
  </div>
  {{ end }}
  <p>Count: <span id="count">{{ .Count }}</span></p>
  {{ if .Active }}
  <form id="form">
    <input type="text" id="newVar" autocomplete="off">
    <button type="submit">
      Throw
    </button>
    <div><span id="newVarStatus"></span></div>
    
  </form>
  {{ end }}
  {{ if .IsOwner }}
  <div id="endit">
    <span>End it</span>
    <button id="end">End</button>
  </div>
  {{ end }}
  <p>Result: <span id="result">{{ .Result }}</span></p>
  <script>
    window.onload = function () {
      var createdAt = {{ .CreatedAt }} 
      var timeout = {{ .Timeout }}
      var endDate = new Date((createdAt + timeout) * 1000)

      {{ if .Active }}
      var checkTimeEvent = true
      function checkTime() {
        var now = Date.now()
        var delta = (endDate - now) / 1000
        var seconds = Math.floor(delta % 60)
        if (seconds < 10) {
          seconds = "0" + seconds
        }
        if (delta > 0 && checkTimeEvent) {
          document.getElementById("time").innerText = `${Math.floor(delta / 60)}:${seconds}` 
          setTimeout(() => {
            checkTime()
          }, 1000)
        } else {
          document.getElementById("timediv").remove()
        }
      }
      checkTime()
      {{ end }}
      
      var conn
      var status = document.getElementById("status")
      var count = document.getElementById("count")
      var result = document.getElementById("result")
      document.getElementById("form").onsubmit = async function (e) {
        e.preventDefault()

        var newVar = document.getElementById("newVar")
        let response = await fetch(`/api/baskets${document.location.pathname}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json; charset=utf-8"
          },
          body: JSON.stringify({
            value: newVar.value
          })
        }
        )
        if (response.ok) {
          document.getElementById("newVarStatus").innerText = "Ok!"
          newVar.value = ""
          setTimeout(() => {
            document.getElementById("newVarStatus").innerText = ""
          }, 1500)
        } else {
          document.getElementById("newVarStatus").innerText = "Error!"
          console.log(response.status);
        }
      }

      var endBtn = document.getElementById("end")
      if (endBtn) {
        endBtn.onclick = async function () {
          let response = await fetch(`/api/baskets${document.location.pathname}/close`, {
            method: "POST",
          })
          if (response.ok) {
            console.log("this basket has been successfully closed");
          } else {
            console.log(response.status);
          }
        }
      }


      function setCount(value) {
        count.innerText = value
      }

      function setResult(value) {
        result.innerText = value
        status.innerText = "Closed"
        conn.close(1000)
      }

      if (window["WebSocket"]) {
        conn = new WebSocket("ws://" + document.location.host + "/ws" + document.location.pathname)
        conn.onclose = function (evt) {
          // status.innerText = "Closed"
          console.log("ws closed");
        }
        conn.onmessage = function (evt) {
          var message = evt.data
          var action = message.charAt(0)
          switch (action) {
            case "+":
              setCount(message.substring(1))
              break
            case "=":
              setResult(message.substring(1))
              document.getElementById("form").remove()
              document.getElementById("endit").remove()
              checkTimeEvent = false
              break
            default:
              console.log("wrong action");
          }
        }
      } else {
        alert("Your browser doesn't support websockets")
      }
    }
  </script>
</body>
</html>